html,
body,
canvas {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

* {
  box-sizing: border-box;
}
