.container {
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  color: #eaeaea;
  display: flex;
  flex: 1;
  font-family: Inter;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 0;
  z-index: 1;
}

.header {
  padding: 1rem 2rem;
}

.heading {
  flex: 1.5;
  font-family: Karelia;
  font-size: 7rem;
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  margin-left: -0.5rem;
}

.subheading {
  font-size: 1.25rem;
  font-weight: 400;
}

.grid {
  align-items: center;
  counter-reset: num;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 50vw;
}

.card {
  color: #eaeaea;
  counter-increment: num;
  flex-basis: 100%;
  margin-bottom: 0 2rem;
  padding: 1rem 5rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  user-select: none;
}

.card:hover,
.card:focus,
.card:active {
  color: #fff;
}

.card::before {
  content: counter(num);
  font-feature-settings: 'tnum';
  font-size: 1.25rem;
  font-variant-numeric: tabular-nums;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  position: absolute;
  width: 3rem;
}

.card h3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  margin-left: -0.25rem;
  letter-spacing: -1px;
}

.card p {
  font-size: 1.25rem;
  margin: 0;
  margin-top: 0.75rem;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }
}
