.container {
  align-items: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.main {
  color: #eaeaea;
  display: flex;
  flex: 1;
  font-family: Inter;
  justify-content: flex-end;
  gap: 1rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.heading {
  --min-font-size: 60;
  --max-font-size: 120;
  font-family: Karelia;
  font-size: clamp(
    var(--min-font-size) * 1px,
    var(--fluid-size),
    var(--max-font-size) * 1px
  );
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  max-width: 12ch;
  left: var(--base-space);
  position: fixed;
  top: var(--base-space);
}

.subheading {
  --min-font-size: 16;
  --max-font-size: 20;
  bottom: var(--base-space);
  font-size: clamp(
    var(--min-font-size) * 1px,
    var(--fluid-size),
    var(--max-font-size) * 1px
  );
  font-weight: 400;
  left: var(--base-space);
  position: fixed;
}

.grid {
  counter-reset: num;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  max-width: 33vw;
  pointer-events: initial;
  overflow-y: scroll;
}

.card {
  color: #eaeaea;
  counter-increment: num;
  flex-basis: 100%;
  margin-bottom: 0 var(--base-space);
  padding: 1rem 5rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  user-select: none;
}

.card:hover,
.card:focus,
.card:active {
  color: #fff;
}

.card::before {
  content: counter(num);
  font-feature-settings: 'tnum';
  font-size: 1.25rem;
  font-variant-numeric: tabular-nums;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  position: absolute;
  width: 3rem;
}

.card h3 {
  --min-font-size: 30;
  --max-font-size: 60;
  font-size: clamp(
    var(--min-font-size) * 1px,
    var(--fluid-size),
    var(--max-font-size) * 1px
  );
  font-weight: 400;
  line-height: 1;
  margin: 0;
  margin-left: -0.25rem;
  max-width: 7ch;
  letter-spacing: -1px;
}

.card p {
  --min-font-size: 16;
  --max-font-size: 20;
  bottom: var(--base-space);
  font-size: clamp(
    var(--min-font-size) * 1px,
    var(--fluid-size),
    var(--max-font-size) * 1px
  );
  margin: 0;
  margin-top: calc(var(--base-space) / 2);
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }
}
